<!-- Admin -->
<app-barra
  *ngIf="rol === 'admin' && showSidebar"
  [sidebarCollapsed]="sidebarCollapsed"
  (sidebarToggled)="onSidebarToggled()"
  (sidebarStateChange)="sidebarCollapsed = $event">
</app-barra>

<!-- Personal -->
<app-barrapersonal
  *ngIf="rol === 'user' && showSidebar"
  [sidebarCollapsed]="sidebarCollapsed"
  (sidebarToggled)="onSidebarToggled()"
  (sidebarStateChange)="sidebarCollapsed = $event">
</app-barrapersonal>



<app-notificacion
  [visible]="notifVisible"
  [mensaje]="notifMensaje"
  [tipo]="notifTipo">
</app-notificacion>


<!-- Contenido principal con clases condicionales -->
<div
  class="app-layout"
  [class.sidebar-collapsed]="sidebarCollapsed && showSidebar"
  [class.sidebar-expanded]="!sidebarCollapsed && showSidebar"
  [class.no-sidebar]="!showSidebar"
>
  <router-outlet></router-outlet>
</div>
