<!-- Barra lateral global -->
<app-barra
  *ngIf="showSidebar"
  [sidebarCollapsed]="sidebarCollapsed"
  (sidebarToggled)="onSidebarToggled()"
></app-barra>



<app-notificacion
  [visible]="notifVisible"
  [mensaje]="notifMensaje"
  [tipo]="notifTipo">
</app-notificacion>


<!-- Contenido principal con clases condicionales -->
<div
  class="app-layout"
  [class.sidebar-collapsed]="sidebarCollapsed && showSidebar"
  [class.sidebar-expanded]="!sidebarCollapsed && showSidebar"
  [class.no-sidebar]="!showSidebar"
>
  <router-outlet></router-outlet>
</div>
